@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Martian+Mono:wght@200&family=Skranji&display=swap');
body {
    background-color: rgb(190, 137, 63);
}

* {
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Croissant One', cursive;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 90px;
    background-color: rgb(0, 0, 0);
    /* background-color:black; 
    color: whitesmoke; */
    align-items: center;
}

li{
    color: white;
    padding: 8px;
}
#profile{
    justify-content: end;    
}

.brand img{
    width: 50px;
    border-radius: 30px;
    margin: 2px;
    padding: 5px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
    /* padding: 7px; */
    padding-right: 30px;
}

.container{
    min-height: 70vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    width: 70%;
    margin: 23px auto;
    border-radius: 10px;
    padding: 15px;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.bottom{
    /* position: sticky; */
    height: 80px;
    background-color: rgb(135, 143, 253);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    flex-direction: column;
}

#progressbar{
    width: 80vw;
}

.icons{
    color: aliceblue;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40px;
    margin: 5px;
}

.songItem{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    width: 320px;
    justify-content: space-between;
    padding: 4px;
    border-radius: 25px;
    margin: 4px;

}
.songItem img{
    padding: 2px;
    width: 90px;
    border-radius: 30px;
}

.songname{
    width: 130px;
}

.img iconn{
    cursor: pointer;
}